@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Faculty Glyphic", serif;
}
:root {
    /* colors */
    --clr1: #1F6C42;
    --clr2: #22181C;
    --clr3: #3A2618;
    --clr4: #DA870D;
    --clr5: #C15514;
    --clr6: #28112B;
    --clr7: #4E598C;
    --intro: #93C16F;
    --white: #F5F9E9;
    --black: #171614;
}
h1 {
    font-family: "Rowdies", sans-serif;
    font-size: 5.61rem;
}
h2 {
    font-family: "Rowdies", sans-serif;
    font-size: 4.209rem;
}
h3 {
    font-family: "Rowdies", sans-serif;
    font-size: 3.157rem;
}
h4 {
    font-family: "Rowdies", sans-serif;
    font-size: 2.369rem;
}
h5 {
    font-family: "Rowdies", sans-serif;
    font-size: 1.777rem;
}
h5 {
    font-family: "Rowdies", sans-serif;
    font-size: 1.333rem;
}
body { 
    background-color: var(--white);
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

/* preloader */
#preloader {    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr3);
    width: 100%;
    height: 100vh;
    overflow: hidden;
} 
.typewriter {
    --key: #fff;
    --paper: #EEF0FD;
    --text: #D3D4EC;
    --tool: #FBC56C;
    --duration: 3s;
    position: relative;
    -webkit-animation: bounce05 var(--duration) linear infinite;
    animation: bounce05 var(--duration) linear infinite;
} 
.typewriter .slide {
    width: 92px;
    height: 20px;
    border-radius: 3px;
    margin-left: 14px;
    transform: translateX(14px);
    background: linear-gradient(var(--clr4), var(--clr5));
    -webkit-animation: slide05 var(--duration) ease infinite;
    animation: slide05 var(--duration) ease infinite;
}
.typewriter .slide:before, .typewriter .slide:after, .typewriter .slide i:before {
    content: "";
    position: absolute;
    background: var(--tool);
}
.typewriter .slide:before {
    width: 2px;
    height: 8px;
    top: 6px;
    left: 100%;
}
.typewriter .slide:after {
    left: 94px;
    top: 3px;
    height: 14px;
    width: 6px;
    border-radius: 3px;
}
.typewriter .slide i {
    display: block;
    position: absolute;
    right: 100%;
    width: 6px;
    height: 4px;
    top: 4px;
    background: var(--tool);
}
.typewriter .slide i:before {
    right: 100%;
    top: -2px;
    width: 4px;
    border-radius: 2px;
    height: 14px;
}
.typewriter .paper {
    position: absolute;
    left: 24px;
    top: -26px;
    width: 40px;
    height: 46px;
    border-radius: 5px;
    background: var(--paper);
    transform: translateY(46px);
    -webkit-animation: paper05 var(--duration) linear infinite;
    animation: paper05 var(--duration) linear infinite;
}
.typewriter .paper:before {
    content: "";
    position: absolute;
    left: 6px;
    right: 6px;
    top: 7px;
    border-radius: 2px;
    height: 4px;
    transform: scaleY(0.8);
    background: var(--text);
    box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}
.typewriter .keyboard {
    width: 120px;
    height: 56px;
    margin-top: -10px;
    z-index: 1;
    position: relative;
}
.typewriter .keyboard:before, .typewriter .keyboard:after {
    content: "";
    position: absolute;
}
.typewriter .keyboard:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    background: linear-gradient(135deg, var(--clr4), var(--clr5));
    transform: perspective(10px) rotateX(2deg);
    transform-origin: 50% 100%;
}
.typewriter .keyboard:after {
    left: 2px;
    top: 25px;
    width: 11px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    -webkit-animation: keyboard05 var(--duration) linear infinite;
    animation: keyboard05 var(--duration) linear infinite;
}
@keyframes bounce05 {
    85%, 92%, 100% {
        transform: translateY(0);
    }
    89% {
        transform: translateY(-4px);
    }
    95% {
        transform: translateY(2px);
    }
}
@keyframes slide05 {
    5% {
        transform: translateX(14px);
    }
    15%, 30% {
        transform: translateX(6px);
    }
    40%, 55% {
        transform: translateX(0);
    }
    65%, 70% {
        transform: translateX(-4px);
    }
    80%, 89% {
        transform: translateX(-12px);
    }
    100% {
        transform: translateX(14px);
    }
}
@keyframes paper05 {
    5% {
        transform: translateY(46px);
    }
    20%, 30% {
        transform: translateY(34px);
    }
    40%, 55% {
        transform: translateY(22px);
    }
    65%, 70% {
        transform: translateY(10px);
    }
    80%, 85% {
        transform: translateY(0);
    }
    92%, 100% {
        transform: translateY(46px);
    }
}
@keyframes keyboard05 {
    5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    9% {
        box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    18% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    27% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    36% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
    }
    45% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    54% {
        box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    63% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
    }
    72% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
    81% {
        box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
    }
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #c1561479;
    backdrop-filter: blur(3px);
    box-shadow: 0 -3px 10px #000;
    z-index: 9999;
}
nav .nav-logo img {
    width: 50px;
}
nav .nav-list {
    display: flex;
    gap: 10px;
}
nav .nav-list a, .dropdown-btn {
    color: var(--white);
    text-decoration: none;
    /* background-color: var(--white); */
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.dropdown .dropdown-btn {
    display: flex;
    gap: 5px;
}
.dropdown .dropdown-btn i {
    transition: all 0.3s ease;
}
nav .nav-list a:hover, .dropdown-btn:hover {
    color: var(--white);
    background-color: var(--clr5);
    /* transform: translateY(-5px); */
}
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown .dropdown-list {
    position: absolute;
    border-radius: 0;
    display: none;
    border: 50px solid transparent;
}
.dropdown .dropdown-list a {
    display: block;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 45px 10px 15px;
    background-color: var(--clr4);
    color: var(--white);
}
.dropdown:hover .dropdown-btn {
    background-color: var(--clr5);
}
.dropdown:hover .dropdown-list {
    display: block;
}
.dropdown:hover .dropdown-btn i.fa.fa-chevron-down {
    transform: rotate(-180deg);
}
.switch {
    width: 70px;
    height: 30px;
    border-radius: 25px;
    border: 3px solid var(--white);
    background-color: var(--white);
    box-shadow: 0 0 5px var(--black);
    display: flex;
    scale: 0.8;
}
.id {
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    width: 50%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.en {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    width: 50%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.id:hover, .en:hover {
    background-color: var(--clr5);
    color: var(--white);
}
.nav-view {
    display: none;
    z-index: 101;
}
.nav-view #nav-view {
    display: none;
}
.nav-view .toggle {
    position: relative;
    width: 25px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(3px * 3 + 8px * 2);
}
.nav-view .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: calc(4px / 2);
    background: var(--white);
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}
.nav-view .bar--top {
    bottom: calc(50% + 8px + 3px / 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
}
.nav-view .bar--middle {
    top: calc(50% - 3px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}
.nav-view .bar--bottom {
    top: calc(50% + 8px + 3px / 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
}
.nav-view #nav-view:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
    background: var(--white);
}
.nav-view #nav-view:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
    background: var(--white);
}
.nav-view #nav-view:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
    background: var(--white);
}
nav .corner {
    display: flex;
    gap: 50px;
}
.nav-list.slide {
    transform: translateX(0);
}
.open .dropdown-list {
    display: block;
}
.open .dropdown-btn {
    background-color: var(--clr3);
    color: var(--white);
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.banner-img {
    /* width: 100%; */
    height: 100%;
}

/* parallax */
.parallax {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* grid-template-areas: "stack"; */
    justify-content: center;
    align-items: center;
}
.parallax > * {
    /* grid-area: stack; */
    animation: parallax linear;
    animation-timeline: scroll();
}
.sherina, .sadam, .slogan, .title {
    width: 100%;
}
.sherina, .sadam {
    bottom: 0;
    --parallax-speed: 1;
    position: absolute;
}
.bg {
    --parallax-speed: 0.5;
    position: absolute;
}
.pohon-atas {
    position: fixed;
}
.tanah {
    --parallax-speed: 1.7;
    position: absolute;
}
.shading-tanah {
    --parallax-speed: 1.7;
    position: absolute;
}
.rumput {
    position: fixed;
}
.shading-langit {
    position: fixed;
}
.pohon-tengah {
    --parallax-speed: 1.5;
    position: absolute;
}
.pohon-bawah {
    --parallax-speed: ;
    position: absolute;
}
.awan {
    position: fixed;
}
.slogan {
    --parallax-speed: 0.5;
    position: absolute;
}
.title {
    --parallax-speed: 0.7;
    position: absolute;
}

@keyframes parallax {
    to {
        transform: translate(0, calc(var(--parallax-speed) * 1500px));
    }
}


/* content */
.content {
    position: relative;
    overflow: hidden;
}

/* about us */
.about-us {
    width: 100vw;
    background-color: var(--intro);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--clr1);
    hr {
        width: 100%;
        border: 1.5px solid var(--clr1);
    }
    a {
        text-decoration: none;
        color: var(--clr1);
    }
    i {
        font-size: 1.5rem;
    }
}

/* break */
.break {
    position: absolute;
    width: 100vw;
    margin-top: -50px;
    z-index: 201;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.leaf {
    width: 100%;
}
.us-text {
    position: absolute;
    width: 50%;
    top: 50px;
}

/* member card */
.members {
    width: 100%;
    margin-top: 200px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 400px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 300;
}
.member {
    flex-shrink: 1;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.member-img {
    flex-shrink: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
    background-color: #000;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.member-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.member-img .collage{
    opacity: 0;
}
.member-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.member-desc a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.member:hover {
    height: 330px;
    border-radius: 10px;
    padding: 140px 50px 50px 50px;
}
.member:hover .member-img {
    scale: 1.5;
    height: 190px;
    border-radius: 15px;
    transform: translateY(-100px);
    box-shadow: 0 0 10px black;
}
/* .member:hover .member-img img {
    transform: translateY(-100px);
} */
.member:hover .member-desc {
    opacity: 1;
}
.member:hover .member-img .portrait{
    opacity: 0;
}
.member:hover .member-img .collage{
    opacity: 1;
}
.member-desc a:hover {
    color: var(--clr5);
}

/* spotify code */
.spotify-code {
    width: 200px;
}
.spot-code {
    fill: var(--clr1);
}

























@media only screen and (max-width: 1150px) {
    nav {
        padding: 10px 20px;
    }
    .nav-view {
        display: block;
    }
    nav .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0;
        top: 0;
        right: 0;
        padding: 100px 0 0 0;
        min-width: 300px;
        width: 50%;
        height: 100vh;
        background-color: var(--clr1);
        transform: translateX(100%);
        transition: all 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
        overflow-y: scroll;
    }
    nav .nav-list a, .dropdown-btn {
        color: var(--white);
        text-decoration: none;
        padding: 10px 15px;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        border-bottom: 1px solid var(--white);
        transition: all 0.3s ease-in-out;
    }
    .dropdown-btn {
        z-index: auto;
    }
    nav .nav-list a:hover {
        z-index: 101;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }
    .dropdown .dropdown-list {
        position: static;
        width: 100%;
        border: 0;
    }
    nav .nav-logo img {
        scale: 0.7;
    }
    nav .corner {
        scale: 0.7;
    }
}